body{
    margin: 0;
    padding: 0;
}
#total{
    position: relative;
}
#header {
    height: 5%;
    padding: 20px;
    background: darkgray;
    overflow: hidden;
}



#content {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    /*float: left;*/
}
#myview{
    text-align: center;
    width: 100%;
    height: 30px;
}
/*#show{*/
    /*position: fixed;*/
    /*margin-top: auto;*/
/*}*/
#mytable {
    margin: 0 auto;
    height: auto;
    width: 100% ;
}
#frozen{
    float: left;
    height: 100%;
    width: 50%;
}
#not_frozen{
    float: right;
    height: 100%;
    width: 50%;
}
#canceled{
    height: 100%;
    width: 100%;
}
#delete{
    float: left;
    height: 100%;
    width: 50%;
}
#not_delete{
    float: right;
    height: 100%;
    width: 50%;
}

#footer {
    padding: 20px;
    clear: right;
    width: 100%;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    background: #000000;
    color: white;
}