body{
    margin: 0;
    padding: 0;
}
#total{
    position: relative;
}
#header {
    height: 5%;
    padding: 20px;
    background: darkgray;
    overflow: hidden;
}



#content {
    margin: auto;
    padding: 0;
    width: 100%;
    float: left;
}

#mytable {
    margin: 0 auto;
    width: 100% ;
}


#formdiv{
    margin-top: 10px;
}

#show{
    position: absolute;
    margin:0 auto;
}

#footer {
    padding: 20px;
    clear: right;
    width: 100%;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    background: black;
    color: white;
}