<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <!--homepage的servlet配置 caoxin-->
    <servlet>
        <servlet-name>HomepageServlet</servlet-name>
        <servlet-class>com.zyht.servlet.HomepageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomepageServlet</servlet-name>
        <url-pattern>/HomepageServlet.htm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PayOrderServlet</servlet-name>
        <servlet-class>com.zyht.servlet.PayOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PayOrderServlet</servlet-name>
        <url-pattern>/PayOrderServlet.htm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddrServlet</servlet-name>
        <servlet-class>com.zyht.servlet.AddrServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddrServlet</servlet-name>
        <url-pattern>/AddrServlet.htm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddrChangeServlet</servlet-name>
        <servlet-class>com.zyht.servlet.AddrChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddrChangeServlet</servlet-name>
        <url-pattern>/AddrChangeServlet.htm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>com.zyht.servlet.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet.htm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>orderServlet</servlet-name>
        <servlet-class>com.zyht.servlet.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderServlet</servlet-name>
        <url-pattern>/orderServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>orderDetailServlet</servlet-name>
        <servlet-class>com.zyht.servlet.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderDetailServlet</servlet-name>
        <url-pattern>/orderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>com.zyht.servlet.LogInServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SellerServlet</servlet-name>
        <servlet-class>com.zyht.servlet.SellerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoodsServlet</servlet-name>
        <servlet-class>com.zyht.servlet.GoodsServlet</servlet-class>
    </servlet>
   <servlet-mapping>
       <servlet-name>GoodsServlet</servlet-name>
       <url-pattern>/GoodsServlet.htm</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerServlet</servlet-name>
        <url-pattern>/SellerServlet.htm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderStatement</servlet-name>
        <servlet-class>com.zyht.servlet.OrderStatementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderStatement</servlet-name>
        <url-pattern>/OrderStatement.htm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Enroll</servlet-name>
        <servlet-class>com.zyht.servlet.EnrollServlet1</servlet-class>
        
    </servlet>
    <servlet-mapping>
        <servlet-name>Enroll</servlet-name>
        <url-pattern>/Enroll.htm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Buy</servlet-name>
        <servlet-class>com.zyht.servlet.BuyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Buy</servlet-name>
        <url-pattern>/Buy.htm</url-pattern>
    </servlet-mapping>

</web-app>


